<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">

		<title>
			Fragment |
			DouO's Note </title>

		<meta name="author" content="DouO">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le styles -->
<link href='/assets/stylesheets/semantic-91be4534b368c69b3ae34ebe17bb9928.css' type='text/css' rel='stylesheet' media='all'>
<link href='/assets/stylesheets/toc-24de7073de5e84bbdf82d581655967fa.css' type='text/css' rel='stylesheet' media='all'>
<link href='/assets/stylesheets/note-abdc38b478e2e51aafac266fed65bb36.css' type='text/css' rel='stylesheet' media='all'>
<link href='/assets/stylesheets/widgets/google_prettify/moon-a586c0c53856bb03a2050ca5121629fe.css' type='text/css' rel='stylesheet' media='all'>		
		<!-- script -->
<script src='/assets/javascripts/jquery-1.8.2.min-cfa9051cc0b05eb519f1e16b2a6645d7.js'></script>
<script src='/assets/javascripts/semantic-54cc5e8b6a700ce47e0d951c470b6bb6.js'></script>
<script src='/assets/javascripts/jquery.c.min-e08fd6c1881afcf509255ce8b8f9b32b.js'></script>
<script src='/assets/javascripts/jquery.smooth-scroll.min-5caac1be39aee89977e39f82d14f0e08.js'></script>
<script src='/assets/javascripts/front-9bcae9460ba6dd25c936b7bdc47a9998.js'></script>
<script src='/assets/javascripts/note-613cb7a88bab975ffe3bbf1be9fbbd6a.js'></script>		
		

		

<script src="/assets/widgets/lazyload/javascripts/jquery.lazyload.min.js"></script>
    <!-- lazyload -->
    <script type="text/javascript">
      jQuery(document).ready(function($){
      if (navigator.platform == "iPad") return;
      jQuery("img.lazy").not(".cycle img").lazyload({
      effect:"fadeIn",
      placeholder: "/assets/media/ajax-loader.gif"
      });
      });
    </script>
   

		
<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="//cdn.staticfile.org/jquery-mousewheel/3.1.3/jquery.mousewheel.min.js"></script>


<!-- Add fancyBox -->
<link rel="stylesheet" href="/assets/widgets/fancybox/stylesheets/jquery.fancybox.css" type="text/css" media="screen" />
<script src="/assets/widgets/fancybox/javascripts/jquery.fancybox.pack.js"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->

<!-- <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script> -->


<script type="text/javascript">
      $(document).ready(function() {
      $(".fancybox").fancybox();
      });
    </script>
   

		<link rel="shortcut icon" href="/assets/media/favicon.ico">
		<!-- Le fav and touch icons -->
		<!-- Update these with your own images

		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
		-->
		<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12243999-3']);
  _gaq.push(['_trackPageview']);
  

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


	</head>
	<body>
		<div class="ui vertical inverted labeled sidebar menu sidebar accordion">
			<div class="header item">
				<div class="item title">
					<i class="dropdown icon"></i>
					<a href="/notes" title="我的笔记" ><i class="book large icon"></i></a>
				</div>
				<div class="menu content">
					<a class="item" href="/">博客</a>
					<a class="item" href="http://wiki.dourok.info/doku.php">Wiki</a>
					<a class="item" href="/about">关于我</a>
				</div>
			</div>
			<div class="header item">
				<div class="item title">
					<i class="dropdown icon"></i>
					<a href="/notes/Uncategory">其他</a>
				</div>
				<div class="menu content">
					<div class="item">
					 
					<a href="/notes/Uncategory/tags">笔记标签</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Uncategory/greendao">greenDao</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Uncategory/gradle">gradle</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Uncategory/chinese-calendar">天朝历法</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Uncategory/amazon">amazon</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Uncategory/Holistic-Learning">Holistic Learning</a>
					
					
					</div>
				</div>
			</div>
			<div class="header item">
				<div class="item title">
					<i class="dropdown icon"></i>
					<a href="/notes/Tools">工具</a>
				</div>
				<div class="menu content">
					<div class="item">
										<a>Emacs</a>
					
					<div class="menu">
						<div class="item">
						 
						<a href="/notes/Tools/Emacs/orgmode">orgmode</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Tools/Emacs/emacs-diary">Emacs 日记</a>
						
						
						</div>
					</div>
					
					</div>
					<div class="item">
					 
					<a href="/notes/Tools/xcode">Xcode</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Tools/trello">Trello</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Tools/ruhoh">Ruhoh</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Tools/ruhoh-env">配置 RUHOH 环境</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Tools/online-toolkits">在线工具集合</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Tools/imagemagick">ImageMagick</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Tools/git">git</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Tools/eclipse">Eclipse</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Tools/android-studio">Android Studio</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Tools/Mustache">Mustache</a>
					
					
					</div>
				</div>
			</div>
			<div class="header item">
				<div class="item title">
					<i class="dropdown icon"></i>
					<a href="/notes/Study">兴趣</a>
				</div>
				<div class="menu content">
					<div class="item">
										<a>Music</a>
					
					<div class="menu">
						<div class="item">
						 
						<a href="/notes/Study/Music/guitar-note">吉他笔记</a>
						
						
						</div>
					</div>
					
					</div>
					<div class="item">
										<a>Astronomy</a>
					
					<div class="menu">
						<div class="item">
						 
						<a href="/notes/Study/Astronomy/spherical-astronomy">球面天文学基础</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Study/Astronomy/solar-system">太阳系</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Study/Astronomy/physics">物理学基础</a>
						
						
						</div>
					</div>
					
					</div>
					<div class="item">
					 
					<a href="/notes/Study/metadata">Metadata</a>
					
					
					</div>
				</div>
			</div>
			<div class="header item">
				<div class="item title">
					<i class="dropdown icon"></i>
					<a href="/notes/Reading">读书笔记</a>
				</div>
				<div class="menu content">
					<div class="item">
					 
					<a href="/notes/Reading/the-productive-programmer">卓有成效的程序员</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Reading/some_mind">Some mind</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Reading/philosophy-of-note">记录的哲学</a>
					
					
					</div>
					<div class="item">
					 
					<a href="/notes/Reading/evernote">Evernote</a>
					
					
					</div>
				</div>
			</div>
			<div class="header item">
				<div class="item title">
					<i class="dropdown icon"></i>
					<a href="/notes/Quick">便签</a>
				</div>
				<div class="menu content">
					<div class="item">
										<a>2013</a>
					
					<div class="menu">
						<div class="item">
												<a>03</a>
						
						<div class="menu">
							<div class="item">
							 
							<a href="/notes/Quick/2013/03/note-2013-03-06">2013年03月06日杂记</a>
							
							
							</div>
						</div>
						
						</div>
						<div class="item">
												<a>02</a>
						
						<div class="menu">
							<div class="item">
							 
							<a href="/notes/Quick/2013/02/note-2013-02-14">2013年02月14日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2013/02/note-2013-02-04">2013年02月04日杂记</a>
							
							
							</div>
						</div>
						
						</div>
						<div class="item">
												<a>01</a>
						
						<div class="menu">
							<div class="item">
							 
							<a href="/notes/Quick/2013/01/note-2013-01-09">2013年01月09日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2013/01/note-2013-01-08">2013年01月08日杂记</a>
							
							
							</div>
						</div>
						
						</div>
					</div>
					
					</div>
					<div class="item">
										<a>2012</a>
					
					<div class="menu">
						<div class="item">
												<a>12</a>
						
						<div class="menu">
							<div class="item">
							 
							<a href="/notes/Quick/2012/12/note-2012-12-22">2012年12月22日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2012/12/note-2012-12-21">2012年12月21日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2012/12/note-2012-12-20">2012年12月20日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2012/12/note-2012-12-11">2012年12月11日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2012/12/note-2012-12-10">2012年12月10日杂记</a>
							
							
							</div>
						</div>
						
						</div>
						<div class="item">
												<a>11</a>
						
						<div class="menu">
							<div class="item">
							 
							<a href="/notes/Quick/2012/11/note-2012-11-22">2012年11月22日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2012/11/note-2012-11-21">2012年11月21日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2012/11/note-2012-11-20">2012年11月20日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2012/11/note-2012-11-15">2012年11月15日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2012/11/note-2012-11-14">2012年11月14日杂记</a>
							
							
							</div>
							<div class="item">
							 
							<a href="/notes/Quick/2012/11/note-2012-11-07">2012年11月07日杂记</a>
							
							
							</div>
						</div>
						
						</div>
					</div>
					
					</div>
				</div>
			</div>
			<div class="header item">
				<div class="item title">
					<i class="dropdown icon"></i>
					<a href="/notes/Programming">编码</a>
				</div>
				<div class="menu content">
					<div class="item">
					 
					<a href="/notes/Programming/iOS">iOS</a>
					
					<div class="menu">
						<div class="item">
						 
						<a href="/notes/Programming/iOS/snippets">常用代码片段</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/iOS/WindowsAndView">WindowsAndView</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/iOS/Objective-C">Objective-C</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/iOS/CS193P">斯坦福CS193P</a>
						
						
						</div>
					</div>
					
					</div>
					<div class="item">
					 
					<a href="/notes/Programming/Ruby">Ruby</a>
					
					<div class="menu">
						<div class="item">
						 
						<a href="/notes/Programming/Ruby/ri-and-rdoc">ri and RDoc</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Ruby/nokogiri">nokogiri</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Ruby/metaprogramming-ruby">Metaprogramming Ruby</a>
						
						
						</div>
					</div>
					
					</div>
					<div class="item">
					 
					<a href="/notes/Programming/Android">Android</a>
					
					<div class="menu">
						<div class="item">
						 
						<a href="/notes/Programming/Android/weird-android">Weird Android</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Android/surfaceview">SurfaceView</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Android/service">Service</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Android/screen-support">Screen Support</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Android/fragment">Fragment</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Android/cocos2dx">Cocos2dx</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Android/android-decompilation">android 逆向工程</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Android/activity">Activity</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Android/NDK">NDK</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Programming/Android/Google-IO-2013">Google IO 2013</a>
						
						
						</div>
					</div>
					
					</div>
				</div>
			</div>
			<div class="header item">
				<div class="item title">
					<i class="dropdown icon"></i>
					<a href="/notes/Computer">计算机</a>
				</div>
				<div class="menu content">
					<div class="item">
										<a>Mac</a>
					
					<div class="menu">
						<div class="item">
						 
						<a href="/notes/Computer/Mac/mountain-lion-memo">山狮备忘</a>
						
						
						</div>
						<div class="item">
						 
						<a href="/notes/Computer/Mac/mavericks-memo">Mavericks 备忘</a>
						
						
						</div>
					</div>
					
					</div>
					<div class="item">
					 
					<a href="/notes/Computer/pc">PC折腾记录</a>
					
					
					</div>
				</div>
			</div>
			<div class="header item">
				<div class="item title">
					<a href="/notes/log">站点日志</a>
				</div>
			</div>
		</div>

		<div class="ui black huge launch right attached button">
			<i class="icon list layout"></i>
			<span class="text">菜单</span>
		</div>

		<header class="segment container">
			<h1 class="ui dividing header">Fragment</h1>
			<p class="segment">
				
				<p>
				</p>
			</p>
		</header>
		<div class="container">
			<article>
				<h3 id="toc_0">Fragment</h3>
<p><a href="http://grepcode.com/file/repository.grepcode.com/java/ext/com.google.android/android/4.3_r2.1/android/support/v4/app/Fragment.java" title="">Fragment.java</a></p>
<h4 id="toc_1">构造一个 Fragment</h4>
<p>Fragment 有一个无参的构造函数，但是构造一个Fragment不用这个方法（Android 内部只用这个方法来实例化 Fragment），而是用 <code>Fragment.instantiate</code>，子类 Fragment 不要实现其他有参数的构造函数，作为代替使用基于 Bundle 的 Arguments 机制。Arguments 可以在 Fragment 重新实例化的时候恢复。Fragment 需要保存的成员变量也都需要放到 Arguments 中。</p>

<p>Every fragment must have an empty constructor, so it can be instantiated when restoring its activity&#39;s state. It is strongly recommended that subclasses do not have other constructors with parameters, since these constructors will not be called when the fragment is re-instantiated; instead, arguments can be supplied by the caller with setArguments(android.os.Bundle) and later retrieved by the Fragment with getArguments().</p>
<h4 id="toc_2">生命周期</h4>
<p>onInflate typically from setting the content view of an activity. This may be called immediately after the fragment is created from a <fragment> tag in a layout file. Note this is before the fragment&#39;s onAttach(android.app.Activity) has been called; </p>
<h5 id="toc_3">在 layout 中的 fragment</h5><h5 id="toc_4">在 Activity 运行时创建的 fragment</h5><h4 id="toc_5">状态持久化机制</h4>
<p>FragmentState</p>

<p>SavedState</p>
<h4 id="toc_6">Target Fragment 机制</h4>
<p>类似于 startActivityForResult，不过是针对 Fragment 的。</p>

<p>Fragment 本身有 <code>startActivityForResult(Intent intent, int requestCode)</code>，这个方法封装了 Activity 的相同方法。同时也封装了<code>onActivityResult</code>，在 Fragment 里面完成整个过程（FragmentActivity 利用 requestCode 的前16位来标识哪个 Fragment 调用的）。</p>
<h4 id="toc_7">Parent 机制</h4>
<p>Fragment 可能依附于 Actvitiy 也可能依附于 Parent Fragment</p>

<p>mChildFragmentManager</p>
<h4 id="toc_8">LoaderManager</h4><h4 id="toc_9">Menu</h4><h3 id="toc_10">FragmentActiviy</h3>
<p>利用了 NonConfigurationInstances </p>
<h3 id="toc_11">FragmentManager</h3>
<p>moveToState</p>

<p>noteStateNotSaved</p>
<pre><code class="">Handle onNewIntent() to inform the fragment manager that the state is not saved. If you are handling new intents and may be making changes to the fragment state, you want to be sure to call through to the super-class here first. Otherwise, if your state is saved but the activity is not stopped, you could get an onNewIntent() call which happens before onResume() and trying to perform fragment operations at that point will throw IllegalStateException because the fragment manager thinks the state is still saved.
</code></pre>
<p>execPendingActions</p>
<h4 id="toc_12">Add Fragment</h4>
<p>添加 Fragment 到 mActive 和 mAdd</p>

<p>mActive 保存当前激活的 Fragment，mAvailIndices 保存 mActive 中可用的 index，下次 makeActive 的时候优先使用中间可用的 index。</p>

<p>mAdded 保存所有已添加的 Fragment</p>
<h4 id="toc_13">Replace Fragment</h4>
<p>移除掉所指定容器内的所有 Fragment，替换成当前传入的 Fragment。若传入的 Fragment 为空则移除掉所有容器内的 Fragment</p>
<h4 id="toc_14">Remove Fragment</h4>
<p>移除 Fragment，如果 Fragment 没有在 BackStack 中，那将 Fragment 状态置于 INITIALIZING，如果是在 BackStack 中等待恢复，那将状态置为 CREATED。</p>
<h4 id="toc_15">Hide Fragment</h4>
<p>将 Fragment 中 View 的 Visibility 设置为  Gone，同时调用 onHiddenChanged 方法。重复调用无影响。</p>
<h4 id="toc_16">Show Fragment</h4>
<p>将 Fragment 中 View 的 Visibility 设置为  Visible，同时调用 onHiddenChanged 方法。重复调用无影响。</p>
<h4 id="toc_17">Attach Fragment</h4>
<p>添加 Fragment 到 mAdded，将 Fragment 的状态转移到当前 FM 的状态。重复调用无影响，只用 mDetached = true 时才会执行。</p>
<h4 id="toc_18">Detach Fragment</h4>
<p>从 mAdded 中移除 Fragment，将 Fragment 的状态转移到 CREATED。</p>
<h4 id="toc_19">BackStackEntry</h4><h4 id="toc_20">FragmentTransaction</h4>
<p><strong>A fragment transaction can only be created/committed prior to an activity saving its state. If you try to commit a transaction after FragmentActivity.onSaveInstanceState() (and prior to a following FragmentActivity.onStart or FragmentActivity.onResume(), you will get an error.</strong> This is because the framework takes care of saving your current fragments in the state, and if changes are made after the state is saved then they will be lost.</p>

<ul>
<li>add</li>
<li>replace</li>
</ul>
<h5 id="toc_21">BackStackRecord</h5>
<p>FragmentTransaction 的实现</p>

<p>Op 一次操作</p>
<h4 id="toc_22">FragmentTransactions &amp; Activity State Loss</h4>
<p><a href="http://www.androiddesignpatterns.com/2013/08/fragment-transaction-commit-state-loss.html">http://www.androiddesignpatterns.com/2013/08/fragment-transaction-commit-state-loss.html</a></p>

<ul>
<li>Be careful when committing transactions inside Activity lifecycle methods.</li>
<li><p>Avoid performing transactions inside asynchronous callback methods.
必須要用的話也沒有什麼好辦法，嘗試用 commitAllowingStateLoss</p>

<p>&quot;If framwework have some design limitation, this is your (developer) problem, not the framework&#39;s&quot;. :) Sure, it&#39;s my (and maybe wrong) opinion.
 -- Vladimir Kuts</p></li>
</ul>

<p>在 Activity 中实现这个机制， 模擬 FragmentManager 的行為 在 state saved 的時候暫存 Transaction 待下次恢復時再提交。</p>
<pre><code class="">@Override
protected void onCreate(Bundle savedInstanceState) {
    super.onCreate(savedInstanceState);

    mUnCommit = new LinkedList&lt;FragmentTransaction&gt;();
    mStateSaved = false;
}

@Override
protected void onStart() {
    super.onStart();
    mStateSaved = false;
}
@Override
protected void onResume() {

    super.onResume();
    mStateSaved = false;
}

@Override
protected void onStop() {
    super.onStop();
    mStateSaved = true;
}

@Override
protected void onDestroy() {
    mUnCommit.clear();
    super.onDestroy();
}


protected LinkedList&lt;FragmentTransaction&gt; mUnCommit;
    protected boolean mStateSaved;

    protected void onResumeFragments() {
        d(&quot;onResumeFragments&quot;);
        super.onResumeFragments();
        while (!mUnCommit.isEmpty()) {
            FragmentTransaction ft = mUnCommit.removeFirst();
            ft.commit();
        }
    };

    /**
     * 模擬 FragmentManager 的行為 在 state saved 的時候暫存 Transaction 待下次恢復時再提交 當
     * Transaction 發生在回調時，用這個方法提交避免發生 IllegalStateException
     * 
     * @param ft
     * @return commit 不能正確執行時返回false
     */
    protected boolean commit(FragmentTransaction ft) {
        try {
            if (!mStateSaved) {
                ft.commit();
            } else {
                mUnCommit.addLast(ft);
            }
            return true;
        } catch (IllegalStateException ex) {
            return false;
        }
    }
</code></pre>
			</article>
			<footer class="statement">
			  <small class＝"copyright">&copy;2009-2013  |</small>
			  <small class= "power">基於 <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh</a>
			    和 <a href="http://twitter.github.com/bootstrap/"
				  target="_blank">Twitter Bootstrap</a> <a href="/diary"><img src="/assets/media/broken_heart.png"></img></a></small>
			  <small class="license">
			    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh"><img title="知识共享许可协议" style="border-width: 0px; vertical-align: middle; display: inline; " src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" original="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png"></a>		
			  </small>
			</footer>
			
		</div>
		
		<!-- Google Prettify -->
<script src="http://cdn.staticfile.org/prettify/r298/prettify.min.js"></script>
<script>
  var pres = document.getElementsByTagName("pre");
  for (var i=0; i < pres.length; ++i) {
    pres[i].className = "prettyprint linenums";
  }
  prettyPrint();
</script>
<!-- end Google Prettify -->
	</body>
</html>

